<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static', filename='src/output.css')}}">
</head>
<body class="font-poppins">
    <div class="pl-4.5 h-16 bg-blue-900"><div class="relative top-[25%]"><a class="pr-8 text-white hover:font-bold" href="/">Confessions</a>
        <a class="pr-8 text-white hover:font-bold" href="/submit">Submit</a>
        <a class="text-white hover:font-bold" href="/about">About</a></div></div>
        <div class="min-h-screen bg-radial from-blue-400 from-50% to-blue-300 pl-4.5 pt-4.5"> </div>
</body>
</html>