<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Confession</title>
    <!-- <link rel="stylesheet"/>  -->
</head>
<body>
    <h1>Write a Confession</h1>

    <form method="POST">
        <p><b>Title</b></p>
        <input type="text" name="title" placeholder="Don't Use the 8th Floor Bathroom!" required/>
        <br><br>
        <p><b>Confession</b></p>
        <input type="text" name="confession" placeholder="I ate cheese" required>
        <br><br>
        <input type="submit" value="Submit">

    </form> 
</body>
</html>